<h1>Edit Page</h1>

<div >
    <%= render partial: 'form', locals: {brand: @brand} %>
</div>

<%= link_to "Delete Brand", @brand, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this Brand?' } %>
