

<h1><%=@brand.companyName%></h1>

<br>
<div id='description' style='margin:10px;'></div>
<div><%=@brand.description%></div>



<%= link_to "Get Lickable Link", brand_benefits_path(@brand), class: 'btn btn-primary' %>
