

<h1><%=@brand.companyName%></h1>

<br>
<div id='description' style='margin:10px;'></div>
<div><%=@brand.description%></div>



<%= link_to "Edit brand", edit_brand_path, class: 'btn btn-primary' %>
